<html ng-app="app">
	<head>
		<!-- <base href="/"> -->
		<title>Liza Dragsbæk</title>
		
		<link rel="ico" href="/assets/favicon.ico" />
		<link rel="stylesheet" href="/css/app.css" />
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,800italic,800,700,700italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script type="text/javascript" src="/js/app-libs.js"></script>
	</head>
	<body ng-controller="NavController as vm" ng-class="{'nav-closed': vm.close}">
		<nav ng-class="{'closed': vm.close}">
			<button type="button" class="button--prev" ng-click="vm.prev()"><span>prev</span></button>
			<button type="button" class="button--next" ng-click="vm.next()"><span>next</span></button>
			<div class="controls">
				<div class="case" ng-class="{'active': vm.state == 0}" ng-click="vm.close = true">
					<h1 class="case__open__header">Grafisk design</h1>
					<h1 class="case__open__text">open project</h1>
					<div class="case__img-holder">
						<div class="case__img" style="background-image: url('/assets/test1.jpg');"></div>
					</div>
				</div>
				<div class="case" ng-class="{'active': vm.state == 1}" ng-click="vm.close = true">
					<h1 class="case__open__header">Grafisk workflow</h1>
					<h1 class="case__open__text">open project</h1>
					<div class="case__img-holder">
						<div class="case__img"></div>
					</div>
				</div>
				<div class="case" ng-class="{'active': vm.state == 2}" ng-click="vm.close = true">
					<h1 class="case__open__header">Grafik og billedebehandling</h1>
					<h1 class="case__open__text">open project</h1>
					<div class="case__img-holder">
						<div class="case__img"></div>
					</div>
				</div>
				<div class="case" ng-class="{'active': vm.state == 3}" ng-click="vm.close = true">
					<h1 class="case__open__header">Typografi og billedebehandling</h1>
					<h1 class="case__open__text">open project</h1>
					<div class="case__img-holder">
						<div class="case__img"></div>
					</div>
				</div>
			</div>
		</nav>
		<div class="animate-wrap">
			<div class="main fade" ui-view></div>
		</div>
		<script type="text/javascript" src="/js/app.js"></script>
	</body>
</html>