<section class="case2">
	<header>
		<div class="half--horizontal">
		<h1>Grafisk workflow</h1>
		</div>
		<div class="half--horizontal" style="background-image: url(/assets/rainy.jpg);"></div>
	</header>

	<article>
		<div class="full--horizontal" style="background-image: url(/assets/workflow_line.png);"></div>
	</article>

	<article>
			<div class="twoleft--vertical" style="background-image: url(/assets/workflow_brain.png);"></div>
		</div>
		<div class="oneright--vertical center">
			<div class="v-centered">
				<h2>Brainstorm</h2>

				<p>Baseret på briefen, statestikker & research sætter vi
				 – Design (mig), UX, Copy & Frontend – os sammen & brainstormer. Vi ved fra strategifasen, hvad det er løsningen skal kunne, & skal finde den bedste måde at opnå det på. Når vi har valgt en retning, laver jeg stil & tone som – sammen med oplæg fra de andre – bliver en samlet præsentation, som kunden skal signe af på <br><br>

				Når kunden har signet af på konceptet går vi i gang med at eksekvere. Projektlederen opdeler ofte store projekter i sprints, så der er enighed om hvilke dele, der er færdige hvornår
				</p>

				<h2>Sprint</h2>

				<p>I et sprint bliver der eksikveret dele af løsningen. Det kan f.eks løbe over 3 uger. & være opdelt således:<br><br>

				Kundemøde (få input & viden)<br>
				Koncept & wirefrmes<br>
				Kundemøde (wireframes præsenteres)<br>
				Wireframes tilrettes & der laves design<br>
				Kundemøde (design præsenteres)<br>
				Design tilrettes, kunden signer af & sprintet rykkes til udvikling<br><br>

				Jeg deltager i møderne efter behov
				</p>
			</div>
		</div>
	</article>

		<article>
			
		<div class="oneleft--vertical center">
			<div class="v-centered">
				<h2>Photoshop opbygning</h2>

				<p>Sitet bliver bygget responsivt – en blanding af adaptive & fluid – men da jeg gerne vil have en max bredde på mit content er mit canvas en tilfældig størrelse på 1600px med indhold på 1240px i 72 ppi.
				Jeg har 8 spalter af 115px med en spalteafstand på 40px. Spalteopdelingen gør det nemmere at ombryde responsivt
				</p>

				<h2>UX</h2>

				<p>Det store coverbillede bruges til at kommunikere et overordnet budskab. Brugeren finder nemt „Søg“ oppe til venstre, hvor burgermenuen oppe i højre hjørne leder brugeren til et overblik over deres egne personlige oplysninger, events osv. Den primære navigation er simpel & står frem med den hvide baggrund på det ellers meget mørke site. – ved scroll snapper navigationen til toppen af browservinduet, så brugeren altid har nemt ved at orientere sig og evt. navigere videre rundt på sitet. Trykker brugeren på en artikel tile for at læse mere, skyder et overlay med den fulde artikel ind fra højre med en flydende animation. På den måde oplever brugeren ikke at blive sendt væk fra overblikket, men kan gå i dybden med en artikel, lukke den ned på krydset oppe i venstre hjørne & stadig være ved sit udgangspunkt. På mindre skærme vil artiklen overtage hele skærmen for at udnytte pladsen optimalt, men lukkes også her ved krydset
				</p>

				<h2>Responsive</h2>

				<p>Designet er opbygget af tiles, hvilket gør det meget flexibelt. De er fluid & når skærmstørrelserne bliver mindre &  indholdet bliver for presset ombryder rækkerne så der kommer færre tiles horizontalt. Når vi kommer ned på en mobil har vi altså kun 1 tile & de næste ligger på række vertikalt
				</p>
			</div>
		</div>
		<div class="tworight--vertical" style="background-image: url(/assets/workflow_opbyg.png);"></div>
		</div>
	</article>

	<article>
			<div class="twoleft--vertical" style="background-image: url(/assets/workflow_struktur.png);"></div>
		</div>
		<div class="oneright--vertical center">
			<div class="v-centered">
				<h2>Font & farver</h2>

				<p>Jeg vælger en opentype font, som virker optimalt på tværs af platforme & laver en swatch palette, som jeg gemmer i „Asset“ mappen så jeg altid har de helt korrekte farver på kunden
				</p>

				<h2>Design af alle elementer</h2>

				<p>Til større webløsninger – i dette tilfælde Presidents Institute – er det ofte redaktører hos kunden, som på sigt skal sætte siderne op. Her designer jeg altså blokelementer, som skal kunne sammensættes på kryds & tværs. Jeg laver dem i samme PSD-fil, så både jeg selv & frontenderen har et godt overblik<br><br>

				Kampagnesites er typisk en „onepage“, hvor man selv som designer definitivt bestemmer resultatet
				</p>

				<h2>Struktur</h2>

				<p>For at give mig selv – frontenderen & evt. andre designere – et godt & hurtigt overblik over min PSD-fil, sørger jeg for at opbygge den logisk. MIne grupper ligger i den rækkefølge, som siden er opbygget & har et navn som er forklarende for dens indhold. Det samme gælder lagene i grupperne, der løbende bliver ryddet op, så der kun er de endelig designelementer tilbage, når filen bliver overleveret<br><br>

				Har jeg brug for at indikere at der er 2 forskellige states i den samme blok, giver jeg de involverede grupper en farve. – kun 1 farvet gruppe må være tændt ad gangen</p>
			</div>
		</div>
	</article>

		<article>
			
		<div class="oneleft--vertical center">
			<div class="v-centered">
				<h2>Klargøring af SVG’er</h2>

				<p>SVG’er er gode at bruge til ikoner. Da det er vectorgrafik kan de skalleres uden at blive pixelleret & er derfor meget anvendelige til repsonsive løsninger. Jeg snakker med frontenderen & får afklaret hvordan hun helst vil modtage SVG’erne – farver & størrelser<br><br>

				Mine lag  er navngivet logisk & får endelsen „.svg“ så jeg nemt kan generere dem & samle en „Asset“ mappe
				</p>

				<h2>Overlevering</h2>

				<p>Jeg gennemgår designet en ekstra gang med frontenderen & er forsat ledig til at svare på spørgsmål fra alle i teamet. Vi sætter os løbende sammen & retter designet til i browseren & tester hele vores løsning igennem inden launch<br><br>

				Jeg ligger også min PSD-fil op i clouden & sender et link til backenderne. På den måde har de mulighed for bla. at tjekke størrelser, selvom de ikke har Photoshop
				</p>
			</div>
		</div>
		<div class="tworight--vertical" style="background-image: url(/assets/workflow_svg.png);"></div>
		</div>
	</article>

	<article>
			<div class="roundup center">
			<div class="v-centered"> 
				<h3>Kvalitets vurdering</h3>
				<p>Jeg synes rigtig godt om den agile måde at arbejde på. Når alle i teamet er med hele vejen, tager man mere ansvar & føler større ejerskab for løsningen. Dette er i sidste ende med til at højne kvaliteten af det man udkommer med. Ulempen er, at man kan miste overblikket & derfor er det vigtigt, at man husker at kommunikere – f. eks. ved at holde et 15 min. standup hver dag i teamet
				</p>


				<h2>Kundens reaktion</h2>

				<p>Presidents Institute havde til tider svært ved at se vores vision på deres vegne. Da de er lidt mere traditionelle, hjalp vi dem på vej ved at have mindre animationer med under præsentationerne. Vi endte ud med et super godt resultat, som både kunden & vi selv er begejstrede for
				</p>
			</div>
			</div>
	</article>


	<footer></footer>
</section>