<section class="case3">
	<header>
		<div class="half--horizontal">
		<h1>Grafik & billedbehandling</h1>
		</div>
		<div class="half--horizontal" style="background-image: url(/assets/rainy.jpg);"></div>
	</header>

	<article>
		<div class="full--horizontal" style="background-image: url(/assets/tivoli_cover.png);"></div>
	</article>

	<article>
			<div class="twoleft--vertical" style="background-image: url(/assets/tivoli_grafik.png);"></div>
		</div>
		<div class="oneright--vertical center">
			<div class="v-centered">
				<h2>Pins</h2>

				<p>I appen er der et kort over Tivoli. Her vises de forskellige steder med pins, som indeholder et lille ikon. Jeg tegnede de samme pins op i Illustrator for at skabe genkendelighed & overføre en bid af appens formsprog til siden
				</p>

				<h2>Opbygning</h2>

				<p>Jeg har lavet pinen ved at lave en cirkel & hive det nederste ankerpoint længere ned. Med pen tool gjorde jeg linierne lige & gav lidt runding efterfølgende. Jeg tog 2 kopier & vinklede dem ud til hver sin side & lagde en cikel ovenpå. Jeg gav den noget dybde ved at give den en skygge. Den lavede jeg ved at tage en pin, ligge en streg ned gennem midten & divide dem med hinanden. Jeg „ungrouper“ dem & gør skygge shapen 5% sort
				</p>

				<h2>Expand</h2>
				<p>For at gøre min pin 100% skalérbar, expander jeg min tekst.<br> På den måde er hele min pin nu i vector</p>

				<h2>Harlequin tern</h2>
				<p>Jeg brugte Tivolis velkendte form – harlequin ternet – til at bygge baggrunden op. Nogle tern fik en douchet lyserød, mens de andre steder blev brugt til at maske nogle stemningsbilleder af</p>
			</div>
		</div>
	</article>

	<article>
			
		<div class="oneleft--vertical center">
			<div class="v-centered">
				<h2>Cover foto til awardsite</h2>

				<p>For at få skarphed i både forgrund & baggrund laver jeg en „High Dynamic Range“ med 2 billeder, som har hvert sit fokus. Jeg masker dét af, som jeg vil have med & ligger mine layers oven på hinanden
				</p>

				<h2>Hue/Saturation</h2>

				<p>Jeg vil gerne have at billedet har masser af farve, så det passer ind i Tivolis eventyrlige stemning. Det gør jeg ved at skrue lidt op for Saturation

				</p>

				<h2>Curves</h2>

				<p>Jeg bruger maskerne til at justere lys/skygge for bedre at opnå et flydende resultat
				</p>
			</div>
		</div>
		<div class="tworight--vertical" style="background-image: url(/assets/tivoli_hdr1.png);"></div>
		</div>
	</article>

	<article>
			<div class="twoleft--vertical" style="background-image: url(/assets/tivoli_hdr2.png);"></div>
		</div>
		<div class="oneright--vertical center">
			<div class="v-centered">
				<h2>Blur</h2>

				<p>Billedet skal bruges som baggrund til en video & må derfor ikke „støje“ for meget. Jeg tager en kopi af mine layers & merger dem & derefter ligger jeg noget "gaussian blur" på
				</p>

				<h2>Skygge</h2>

				<p>Da der skal stå tekst ind over billedet, vil jeg gerne dæmpe det endnu mere. Det gør jeg ved at lave et layer ovenpå, hvor jeg maler med en soft brush indtil jeg opnår det udtryk jeg ønsker
				</p>

				<h2>Grafiker</h2>
				<p>Jeg tilføjer nogle harlequin tern for at give billedet lidt mere Tivoli. Logo, rubrikker og videoplayer ligges på i frontend
				</p>
			</div>
		</div>
	</article>

	<article class="section-grey">
		
		<div class="oneleft--vertical section-grey center">
			<div class="v-centered">
				<h2>Avatar sammenkopiering</h2>
				<p>Da jeg ikke laver så meget billedbehandling på min lærerplads – ud over diverse justeringer – har jeg lavet en fri opgave, hvor jeg har lavet en mand om til en avatar. Jeg har brugt 3 billeder til at opnå mit resultat.
				Et billede af en mand,  et billede af noget læder til at give struktur & øjnene fra Avatarfilmens plakat
				</p>
			</div>
		</div>
		<div class="tworight--vertical section-grey" style="background-image: url(/assets/avatar_grafik.png);"></div>
		</div>
	</article>

<article>
		<div class="twoleft--vertical" style="background-image: url(/assets/avatar1.png);"></div>
		</div>
		<div class="oneright--vertical center">
			<div class="v-centered">
				<h2>Shape</h2>

				<p>Jeg har brugt "smudge tool" til at få mandens ansigt til at passe bedre til de features en avatar har. Det var vinklen på det ene øje & især næsen, som skulle glattes ud
				</p>

				<h2>Farve</h2>

				<p>For at gøre ham blå brugte jeg en selection af masken og tilføjede 2 forkellige blå farver. Et color layer med den mørkeste blå og et overlay layer med den lyseste blå for at give nuancer. Til sidst har jeg brugt channel mixer til at få den helt rigtige blå farve
				</p>

				<h2>Struktur</h2>
				<p>Til at give noget mere struktur fandt jeg et billede af noget læder som jeg arbejde ind layer efter layer med warp tool & eraser tool
				</p>
			</div>
		</div>
	</article>

	<article>
		
		<div class="oneleft--vertical center">
			<div class="v-centered">
				<h2>Øjne</h2>

				<p>Jeg har fritlagt øjnene fra Avatar filmplakaten. For at få dem til at smelte sammen med manden har jeg arbejdet med skygger i forskellige layers & opaciter. Jeg har også ændret lidt på farven med Hue/saturation
				</p>

				<h2>Næse</h2>

				<p>Næsen var noget af det sværeste at lave. Her har jeg lavet mange skygger & opaciteter. For at opnå en blød skygge oppefra & en skarpere skygge nedefra starter jeg med en soft brush & bruger derefter smudge tool til at „skubbe“ kanten skarpere nedefra. Med mange layers kan jeg nemt tilrette & jeg navngiver dem, så jeg har et bedre overblik over, hvor de hører til
				</p>

				<h2>Hår & effekter</h2>
				<p>Jeg har lavet hans hår med grass brush & med en soft brush har han fået nogle „Avatar“ lignende dots. Han har også fået lidt diskret krigsmalling, som jeg ha  lavet med en spatter brush, som er kørt ned i opacitet<br><br>

				Til sidst har jeg lagt en større skygge på i venstre side, for at give effekten af at han dukker frem fra mørket. Jeg har masket venstre øje ud, så det stadig fremtår skarpt fordi det reflekterer det lys han kigger ind i
				</p>
			</div>
		</div>
		<div class="tworight--vertical" style="background-image: url(/assets/avatar2.png);"></div>
		</div>
	</article>

	<article>
			<div class="roundup center">
			<div class="v-centered"> 
				<h3>Kvalitets vurdering</h3>
				<p>Jeg er meget tilfreds med resultatet af mit Tivoli site. Det er skåret ind til benet & fremhæver de vigtige pointer, man ønsker at en jury skal bide mørke i. Alt sammen på en onepage med tivoli stemning<br><br>

				Min avatar er også blevet ret fin & jeg synes at jeg har skabt et resultat, hvor sammenkopieringer flyder godt sammen i en helhed
				</p>


				<h2>Kundens reaktion</h2>

				<p>Da det var en admission side, der skulle fremsende  på bureaues vegne, var kunden i dette tilfælde min chef. Han var – på trods af den meget stramme deadline – yderst tilfreds med siden
				</p>
			</div>
			</div>
	</article>

	<footer></footer>
</section>