<section class="case4">
	<article>
		<div class="case__content-wrap">
			<div class="case__content-wrap__start-content">
				<button class="nav--close" ng-click="vm.close(false)"><i class="fa fa-times"></i></button>
				<div class="case__content__fade">
					<h2>test</h2>
				</div>
			</div>
		</div>
	</article>
	
	<header>
		<div class="header__image" style="background-image: url(/assets/rainy.jpg);"></div>
	</header>
	

	<article class="section-lightgrey">
			<div class="twoleft--vertical section-lightgrey" style="background-image: url(/assets/typo_setup.png);"></div>
		</div>
		<div class="oneright--vertical section-lightgrey center">
			<div class="v-centered">
				<h2>Baggrund for valg af Neue Haas Grotesk</h2>

				<p>Neutral & stilren<br><br>
				Let læselig – høj x-højde & velbalanceret letter-spacing (venstre: Helvetica, højre: Neue Hass Grotesk)<br><br>
				Ejer både i en display-version & tekst-version<br><br>
				Bedre end Helvetica<br><br>
				OpenType
				</p>

				<h2>Brug af Neue Haas Grotesk:</h2>

				<p>Forside rubrik Light – kun i minuskler, som en del af identiteten<br><br>
				Information Medium – til at highlighte designer, matetialer m.m.<br><br>
				Brødtekst Ekstra light – teksten havde en sekundær rolle ift. billederne<br><br>
				Fremhævning Italic light – til at fremhæve tanker om møblet &/eller dets navn<br><br>
				</p>

				<h2>Yderligere kendetegn ved Neue Haas Grotesk:</h2>

				<p>Horisontale & vertikale ender<br><br>
				1-tallets top (serif)<br><br>
				Buet stamme på 7-tallet<br><br>
				a har en buet hale<br><br>
				Afrundet hale på stort R
				</p>

				
			</div>
		</div>
	</article>
	
	<article>
			
		<div class="oneleft--vertical center">
			<div class="v-centered">
				<h2>Baggrund for valg af Neue Haas Grotesk</h2>

				<p>Neutral & stilren<br><br>
				Let læselig – høj x-højde & velbalanceret letter-spacing (venstre: Helvetica, højre: Neue Hass Grotesk)<br><br>
				Ejer både i en display-version & tekst-version<br><br>
				Bedre end Helvetica<br><br>
				OpenType
				</p>

				<h2>Brug af Neue Haas Grotesk:</h2>

				<p>Forside rubrik Light – kun i minuskler, som en del af identiteten<br><br>
				Information Medium – til at highlighte designer, matetialer m.m.<br><br>
				Brødtekst Ekstra light – teksten havde en sekundær rolle ift. billederne<br><br>
				Fremhævning Italic light – til at fremhæve tanker om møblet &/eller dets navn<br><br>
				</p>

				<h2>Yderligere kendetegn ved Neue Haas Grotesk:</h2>

				<p>Horisontale & vertikale ender<br><br>
				1-tallets top (serif)<br><br>
				Buet stamme på 7-tallet<br><br>
				a har en buet hale<br><br>
				Afrundet hale på stort R
				</p>

				
			</div>
		</div>
		<div class="tworight--vertical" style="background-image: url(/assets/typo_neue.png);"></div>
		</div>
	</article>

		<article>
			<div class="twoleft--vertical" style="background-image: url(/assets/typo_open.png);"></div>
			</div>
		<div class="oneright--vertical center">
			<div class="v-centered">
				<h2>Baggrund for valg af Open Sans:</h2>

				<p>Simpel & moderne<br><br>
				Fine & lette tal, som ikke bliver for tunge i store punktstørrelser
				</p>

				<h2>Brug af Open Sans:</h2>

				<p>Altid som minuskler, som en del af identiteten<br><br>
				Grafisk element/nummerering af møblerne<br><br>
				Rubrikker
				</p>

				<h2>Yderligere kendetegn ved Open Sans</h2>

				<p>Meget åben<br><br>
				Lige arme
				</p>

				<h2>Optisk margin</h2>

				<p>Hairspace foran karakteren & manuel  minus tracking indtil teksten optisk holder kant med margin<br><br>

				Runde karakterer (c, a, o, 0, osv.) skal gå en smule ud over margin for at opnå optisk margin
				</p>
			</div>
		</div>
		
	</article>

	<article class="section-purple">
			
		<div class="oneleft--vertical section-purple center">
			<div class="v-centered">
				<h2>Brug af styles</h2>

				<p>Paragraph styles er brugt til at styre den generelle formatering af tekster<br><br>
				Object styles er brugt til at lave billedrammer med stroke
				</p>

				<h2>Opsætning af brødtekst</h2>

				<p>Justification sættes til Left justify & tilretters efter „lille i prøve“<br><br>
				Hyphernation sættes for optilmal orddeling<br><br>
				Ordbog sættes til Dansk
				</p>

				<h2>Billeder</h2>

				<p>Efter at have snakket med trykkeren ved jeg at han bruger farveprofilen „Fogra39“ & trykker i 200 lpi. Derfor sørger jeg for at alle mine billeder er minimum 300 ppi.
				</p>

				
			</div>
		</div>
		<div class="tworight--vertical section-purple" style="background-image: url(/assets/typo_sps.png);"></div>
		</div>
	</article>

		<article>
			<div class="roundup center">
			<div class="v-centered"> 
				<h3>Kvalitets vurdering</h3>
				<p>Jeg er meget tilfreds med mit resultat. Det varierede grid fungerer godt & det luftige layout lader møblerne være helten på opslagene<br><br>

				Havde jeg haft mere tid ville jeg gerne kæle lidt mere for detaljerne. Tracking gennerm bogen  &arbejder lidt mere med luften i indholdsfortegnelsen
				</p>


				<h2>Kundens reaktion</h2>

				<p>Jeg fik især ros for min indholdsfortegnelse & mit mod til at bruge så meget white space. Desuden trak 1 af dommerne træk mig til siden & fortalte mig at min bog var hendes yndlings
				</p>
			</div>
			</div>
	</article>

	
	<footer></footer>
</section>