<section class="case1">
	<article>
		<div class="case__content-wrap">
			<div class="case__content-wrap__start-content">
				<button class="nav--close" ng-click="vm.close(false)"><i class="fa fa-times"></i></button>
				<div class="case__content__fade">
					<p>ECCO ønskede at nå en ny og yngre målgruppe med deres nye sneaker „Intrinsic“. Min opgave var derfor at designe en heropage, som henvendte sig til et nyt publikum, men samtidig passede ind i ECCO’s univers</p>

					<p>Konceptet var at fortælle en „day to night“ historie ned gennem siden. Ved scroll roterer sneakeren i venstre side, mens du til højre bliver eksponeret for „instagram“ like posts hvor vores influences ses i forskellige situationer gennem en dag. Hashtagget „#partofmyworld“ bliver pushet gennem kampagnen & lægger op til at modtageren selv poster billleder med sine „Intrinsic“ sneakers.</p>
				</div>
			</div>
		</div>
	</article>
	<header>
		<div class="header__image" style="background-image: url(/assets/intrinsic.png);"></div>
	</header>


	<article>
		<div class="full--horizontal" style="background-image: url(/assets/intrinsic.png);"></div>
	</article>

	<article>
		<div class="oneleft--vertical center">
			<div class="v-centered">
				<h2>Idé & inspiration</h2>

				<p>I teamet – Design (mig), UX designer, Copy, Digital Strategist – lavede vi et konceptoplæg med wireframes & look and feel
				</p>
			</div>
		</div>
		<div class="tworight--vertical" style="background-image: url(/assets/intrinsic_inspi.png);"></div>
		</div>
	</article>

	<article>
		<div class="twoleft--vertical" style="background-image: url(/assets/intrinsic_font.png);"></div>
		</div>
		<div class="oneright--vertical center">
			<div class="v-centered">
				<h2>Baggrund for valg af Century Gothic:</h2>
					<p>ECCO’s webfont<br/><br/>

					Ren & rolig<br/><br/>

					Fremstår flot & læsbar på mange forskellige baggrunde
					</p>


					<h2>Brug af vægte:</h2>

					<p>Rubrik "Bold" – for god læsbarhed, da den ofte bruges ovenpå billeder<br/><br/>

					Brødtekst "Regular" – giver optimal læsbarhed i større eller mindre tekstbidder<br/><br/>

					Hashtags "Bold" – fremhæver indholdet & fanger blikket<br/><br/>

					Rubrik i techpointer – altid kun versaler i bold
					</p>



					<h2>Farvepalette</h2>

					<p>Da farvetemaet til alle 3 styles af „Intrinsic“ sneakeren er sort/grå/hvid tilføjes en stærk gul for give siden identitet & kant. Den bruges primært i cover billedet, til grafiske detaljer & fremhævelser. En sekundær farve – mørkelilla – kommer i spil i typografien. Den giver en lækker dybde,  god læsberhed & spiller flot sammen med den gule
					</p>
			</div>
			</div>
			
	</article>

	<article class="section-grey">
	
		<div class="oneleft--vertical section-grey center">
			<div class="v-centered">
					<h2>Elementer</h2>

				<p>Der sker meget i scroll oplevelsen & derfor er det vigtigt at de elementer, som indgår er simple & rolige. Lifestyle postet bliver bygget op af et foto med ramme &  en tekstboks med et budskab. Udfra de overordnede farve er teksten mørkelilla, imens en lille gul trekant tilføjes som grafisk element, der deler overskrift &  undertekst
				</p>

				<h2>Roterende sneaker</h2>

				<p>Ved scroll roterer sneakeren i en parallax effekt. En 360° fotomaskine hjælper med at få billeder af sneakerne fra alle vinkler. Billederne bliver tilrettet & fritlagt, så de kan ligges ind ovenpå baggrundsbilledet. Desuden vinkles sneakeren så den peger nedad & passer med opevelsen af scroll retningen<br><br>

				Der bruges 60 af de 120 billeder for at give en flydene oplevelse af sneakeren uden at siden bliver for tung at loade.
				</p>

				<h2>Techpointer panel</h2>

				<p>Når sneakeren når bunden af panelet lander den på asfalt. Her kommer en rubrik & gule grafiske former med informationer om skoen frem. Spidsen af „trekanterne“ bruges til at vise en deltalje eller feature som skal fremhæves
				</p>
			</div>
			</div>
				<div class="tworight--vertical section-grey" style="background-image: url(/assets/intrinsic_element.png);"></div>
		</div>
	</article>

	<article>
		<div class="twoleft--vertical" style="background-image: url(/assets/intrinsic_responsive.png);"></div>
		</div>
		<div class="oneright--vertical center">
			<div class="v-centered">
				<h2>Responsive</h2>
					<p>Jeg har ændret fontstørrelserne på mindre devices for at opnå optimal læsbarhed. Knapper tilrettes også så de altid går til kant – minus margin – & har en højde på 80 px, så de er nemme at ramme med fingeren<br><br>

					På tablet (landscape) & mobil har jeg ændret hvordan man oplever sidens lifestyle post’s. For at undgå at siden bliver alt for lang vertikalt bruger jeg det plads, som ligger off canvas horizonalt. Brugeren har altså mulighed for at nøjes med at se 1 post og derefter forsætte ned til næste panel eller swipe flere posts ind fra højre. Jeg fortæller brugeren at der er mere indhold ved at lade den næste post ligger til højre i viewporten & ligger op til et horizontalt scroll, som er intuitivt hos os når vi sidder med et device i hånden<br><br>

					For at undgå lang loading tid & dårlig performance har jeg komprimeret den roterende sneaker oplevelse til 3 frames. Man ser altså 3 forskellige vinkler af sneakeren – 1 for hver post. Baren med en række af posts agerer som en slider, som de 3 sneaker billeder følger
					</p>
			</div>
			</div>
				
	</article>

	<article>
			<div class="roundup center">
			<div class="v-centered"> 
				<h3>Kvalitets vurdering</h3>
				<p class="text-center">Jeg synes at designet fungerer rigtig godt. Jeg har skabt et „Intrinsic“ univers, som præsenterer produktet flot & taler til en ny og yngre målgruppe. Parallax-effekten med den roterende sneaker performer super og giver en lækker oplevelse ned gennem siden
				</p>


				<h2>Kundens reaktion</h2>

				<p class="text-center">ECCO var meget begejstrede for stilen og signede af på konceptet med kun meget få kommentarer.  Designet lever videre – med nye farvepaletter og billeder  – når den nye „Intrinsic“ sneaker kommer i SS16 sæsonen
				</p>
			</div>
			</div>
	</article>

	<footer>
		<button ng-click="vm.toTop()">scroll to top</button>
	</footer>
</section>