/* moduler */

section {
	height: 100%;
	background: white;

	// article {
	// 	@for $i from 1 through 15 {
	// 		$j: $i * 5;
	// 		&:nth-child(#{$i}) {
	// 			background-color: darken(white, $j);
	// 			.half--horizontal, .half--vertical {
	// 				background-color: darken(white, $j);
	// 			}
	// 		}
	// 	}
	// }

	header, article {
		height: 100%;
		position: relative;
		background-color: white;

			&.section-grey {

				background-color: #2d3032;
				color: #fff;
			}

			&.section-lightgrey {

				background-color: #606061;
			}

			&.section-purple {
				background-color: #625864;
				color: #fff;
			}

		.half--horizontal {
			height: 50%;
			width: 100%;
			background: white;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}

		}
		.oneleft--vertical {
			width: 35%;
			float:left;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 90vh;
    		background-color: white;
			padding: 40px 40px 40px 8%;

			&.section-blue {

				background-color:blue;
			}

			&.section-grey {

				background-color: #2d3032;
				color: #fff;
			}

			&.section-purple {
				background-color: #625864;
				color: #fff;
			}

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}
	

		}

		.oneright--vertical {
			width: 35%;
			float:left;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 90vh;
    		background-color: white;
			padding: 40px 100px 40px 0px;

			&.section-blue {

				background-color:blue;
			}

			&.section-grey {

				background-color: #2d3032;
				color: #fff;
			}

			&.section-lightgrey {

				background-color: #606061;
				color: white;
			}

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}
	

		}



		.twoleft--vertical {
			width: 57%;
			float:left;
			height: 100%;
			background-repeat: no-repeat;
			background-position: left center;
			background-size: 100vh;
    		background-color: white;
    		margin-left: 8%;
			

			&.section-blue {

				background-color:blue;
			}

			&.section-grey {

				background-color: #2d3032;
			}

			&.section-lightgrey {

				background-color: #606061;
			}

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}
		}

		.tworight--vertical {
			width: 57%;
			float:left;
			height: 100%;
			background-repeat: no-repeat;
			background-position: right center;
			background-size: 100vh;
    		background-color: white;
    		margin-right: 8%;
			

			&.section-blue {

				background-color:blue;
			}

			&.section-grey {

				background-color: #2d3032;
			}

			&.section-purple {
				background-color: #625864;
				color: #fff;
			}

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}
		}

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		.full--horizontal {
			width: 100%;
			float:center;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100vh;
    		background-color: white;

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}
		}

	.roundup {
			width: 100%;
			float: center;
			height: 100%;
			text-align: center;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100vh;
    		background-color: white;

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}
		}

		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	footer {
		background: #333;
		padding: 20px;
		min-height: 200px;
		position: relative;;
	}
}