/* moduler */

.nav-closed {

	.header__image {
		position: fixed;
		top: 0;
		height: 100%;
		width: 100%;
    	background-size: 100%;
    	opacity: 0.7;
	}
}

$firstTime: 500ms;
$firstDelay: 900ms;
$secTime: 600ms;
$secDelay: $firstDelay + $firstTime;
$thirdTime: 600ms;
$thirdDelay: $secDelay + $secTime - 50ms;
$lastDelay: $thirdDelay + $thirdTime;

.nav-closed {
	.case__content-wrap {
		opacity: 1;
		width: 620px;
		height: 100%;
	}
	.case__content__fade {
		opacity: 1;
	}
}
.case__content-wrap {
    $size: 200px;

    position: absolute;
    height: $size;
    width: $size * 2;
    max-width: 620px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
	transition: opacity $firstTime ease $firstDelay, width $secTime ease-out $secDelay, height $thirdTime ease-in $thirdDelay;
}
.case__content-wrap__start-content {   	
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all 300ms ease;
	z-index: 0;
	background: white;
    padding: 40px 20px;
}
.case__content__fade {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 400ms ease $lastDelay;
    width: 80%;
    left: 10%;
}

section {
	height: 100%;
	background: white;
	position: relative;
	z-index: 0;
	header {
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: -1;
	    width: 100%;
	    height: 100%;
	    .header__image {
	    	position: fixed;
	    	top: 50%;
	    	height: 50%;
			transition: all 800ms ease;
			width: 100%;
			background-size: cover;
			background-position: top center;
			background-repeat: no-repeat;
	    }
	}
	article:first-child {
		background: transparent;
	}
	article {
		height: 100%;
		position: relative;
		background: white;
	}
	header, 
	article {

		&.section-grey {

			background-color: #2d3032;
			color: #fff;
		}

		&.section-lightgrey {

			background-color: #606061;
		}

		&.section-purple {
			background-color: #625864;
			color: #fff;
		}

		.half--horizontal {
			height: 50%;
			width: 100%;
			background: #eee;
			background-size: cover;
			background-position: top center;
			background-repeat: no-repeat;

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}

		}
		.oneleft--vertical {
			width: 35%;
			float:left;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 90vh;
    		background-color: white;
			padding: 40px 40px 40px 8%;

			&.section-blue {

				background-color:blue;
			}

			&.section-grey {

				background-color: #2d3032;
				color: #fff;
			}

			&.section-purple {
				background-color: #625864;
				color: #fff;
			}

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}
	

		}

		.oneright--vertical {
			width: 35%;
			float:left;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 90vh;
    		background-color: white;
			padding: 40px 100px 40px 0px;

			&.section-blue {

				background-color:blue;
			}

			&.section-grey {

				background-color: #2d3032;
				color: #fff;
			}

			&.section-lightgrey {

				background-color: #606061;
				color: white;
			}

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}
	

		}



		.twoleft--vertical {
			width: 57%;
			float:left;
			height: 100%;
			background-repeat: no-repeat;
			background-position: left center;
			background-size: 100vh;
    		background-color: white;
    		margin-left: 8%;
			

			&.section-blue {

				background-color:blue;
			}

			&.section-grey {

				background-color: #2d3032;
			}

			&.section-lightgrey {

				background-color: #606061;
			}

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}
		}

		.tworight--vertical {
			width: 57%;
			float:left;
			height: 100%;
			background-repeat: no-repeat;
			background-position: right center;
			background-size: 100vh;
    		background-color: white;
    		margin-right: 8%;
			

			&.section-blue {

				background-color:blue;
			}

			&.section-grey {

				background-color: #2d3032;
			}

			&.section-purple {
				background-color: #625864;
				color: #fff;
			}

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}
		}

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		.full--horizontal {
			width: 100%;
			float:center;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100vh;
    		background-color: white;

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}
		}

	.roundup {
			width: 100%;
			float: center;
			height: 100%;
			text-align: center;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100vh;
    		background-color: white;

			&.center {
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
  					margin-right: -0.25em; /* Adjusts for spacing */

				}
				.v-centered {
					display: inline-block;
					vertical-align: middle;
					max-width: calc(100% - 4px);
					width: 450px;
					margin: auto;
				}
			}
		}

		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	footer {
		background: #333;
		padding: 20px;
		min-height: 200px;
		position: relative;
		text-align: center;
		button {
		    display: inline-block;
		    border: 2px solid;
		    font-size: 12px;
		    background: none;
		    color: white;
		    padding: 16px 50px;
		    text-transform: uppercase;
		    margin-top: 30px;
		}
	}
}